

body {
  background-color: #391111;
  padding-top: 60px;

}
.darkmode {
  background-color:#0C0C0C;
  color: white;
}
.darkmode .encadre-flex {
  background-color: #1a1a1a;
  color: white;
  border: 2px solid #333;
}
.darkmode .navbar {
  background-color: #1a1a1a;
  color: white;
}


#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
}
#theme-switch svg{
  fill: var(--primary-color);
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}



p {
  color: white;
}


.encadre-flex {
  display: flex; /* Active Flexbox */
  flex-direction: column; /* Empile les éléments verticalement */
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  background-color: #3b1a1a;
  color: white;
  border: 2px solid #5c2c2c;
  border-radius: 15px;
  padding: 20px;
  width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Inter;
  text-align: justify;
  font-weight: 500;

}

.encadre-flex img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.encadre-flex a {
  color: #ffdddd;
  text-decoration: none;
}

.encadre-flex a:hover {
  text-decoration: underline;
  
}





.image-container {
  display: flex; /* Flexbox pour organiser éventuellement plus d'éléments */
  justify-content: center; /* Centre horizontalement l'image */
  align-items: flex-start; /* Assure que l'image reste en haut */
  height: auto; /* Ajuste la hauteur si nécessaire */
}

.image {
  width: 100px; /* Ajuste la taille de l'image */
  height: auto; /* Garde les proportions */
  
}


.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #8F2424; font-family: calibri; padding-right: 15px;padding-left: 15px;

}

.navbar a {
  color: white;
}

.navbar .logo {
  font-size: 2em ;
  font-weight: bold;
}


.navbar .navdiv ul {
  display: flex;

}

.navbar .navdiv li {
  margin: 0 20px;

}

.navbar .navdiv ul li.active a {
  color: black;
  font-weight: 600;

}
li{
  list-style: none; display: inline-block;
}
li a{
  color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
  text-decoration: none;
}



@media screen  and (max-width : 1120px)  {
  .navdiv {
    width: 100%;
  }
  .navdiv p {
    font-size: 1.3em
  }
  .encadre-flex {
    width: 100%;
  }
  .encadre-flex p {
    font-size: 1.3em
  }
  .image-container {
    width: 100%;
  }
  .image-container p {
    font-size: 1.3em
  }
  .navbar {
    width: 100%
  }
  .navbar p {
    font-size: 1.3em
  }
}




